---
const plataformGithub = "github";
const plataformInstagram = "instagram";
const plataformTwitter = "twitter";
const username = "ivanlhz";
const instagramUsername = "kubicate"
---

<footer>
    <p>I am on <a href={`https://www.${plataformTwitter}.com/${username}`}>{plataformTwitter}</a>!</p>
    <p>Learn more about my projects on <a href={`https://www.${plataformGithub}.com/${username}`}>{plataformGithub}</a>!</p>
    <p>Look at my 3D creations on <a href={`https://www.${plataformInstagram}.com/${instagramUsername}`}>{plataformInstagram}</a>!</p>
</footer>